--index-url https://download.pytorch.org/whl/cu121
torch==2.5.1
torchvision  
tqdm
numpy==2.3.3
pillow==11.3.0
scikit-learn==1.5.0
datasets==3.6.0
huggingface_hub==0.34.4
open-clip-torch==3.1.0
flask==3.0.3
flask_cors
flask_sqlalchemy==3.1.1
flask_bcrypt==1.0.1
flask_jwt_extended==4.6.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
transformers==4.56.1
cloudinary==1.44.1
uuid==1.30
qdrant-client==1.15.1